@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (Model.Any())
{
    <main id="main" class="main">
        <div class="card">
            <div class="card-body">
                <a asp-area="Admin" asp-controller="Administration" asp-action="Create" class="btn btn-primary mt-1">Create Role</a>
                <table class="table" id="myTable">
                    <thead>
                        <tr>
                            <th scope="col">Action</th>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </main>
}
else
{
    <main id="main" class="main">
        <div class="card">
            <div class="card-body">
                <a asp-area="Admin" asp-controller="Administration" asp-action="Create" class="card-title">Create Role</a>
            </div>
        </div>
    </main>
}
@section scripts{
    <script src="~/js/rolejs.js"></script>
}